<<<<<<< HEAD
*{
    font-family: "Century Gothic";
}

.Канцтоварищ {
  font-size: 40px;
=======
.Канцтоварищ {
  font-size: 40px;
  font-family: "Century Gothic";
>>>>>>> a67dc82626a8886031c824b35d8861f0733130c7
  text-align: center;
  width = "100%";
}
.Магазин_канцелярских_товаров {
  font-size: 20px;
<<<<<<< HEAD
=======
  font-family: "Century Gothic";
>>>>>>> a67dc82626a8886031c824b35d8861f0733130c7
  line-height: 1.2;
  text-align: center;
  width = "100%";
  display: block;
}
.ВходРегистрация {
  font-size: 14px;
<<<<<<< HEAD
=======
  font-family: "Century Gothic";
>>>>>>> a67dc82626a8886031c824b35d8861f0733130c7
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: right;
  margin-top: -45px;
}
.Knopki{
  display: block;
  border-top: 1px solid black;
  margin-bottom: 20px;
<<<<<<< HEAD
}
 
ul{
    list-style-type: none;
}

.upper-menu{
    background-color: rgb(254, 201, 201);
    font-size: 20px;
    display: block;
    float: left;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow:hidden;
    position: inherit;
}

.dropped-1{
    display: none;
}

.dropped-2{
    display: none;
}

.upper-menu a{
    text-decoration: none;
    color: black;
}

.upper-menu-button-1{
    float:left;
    margin-left: 5%;
    margin-right: 5%;
}

.upper-menu-button-1-text{
    padding: 10px;
    display: block;
}

.upper-menu-button-2-text{
    padding:10px;
    display: block;
}

.upper-menu-button-3-text{
    padding:10px;
    display: block;
}

.upper-menu-button-4-text{
    padding:10px;
    display: block;
}

.upper-menu-button-5-text{
    padding:10px;
    display: block;
}

.upper-menu-button-1-text:hover{
    background-color: crimson;
}

.upper-menu-button-2-text:hover{
    background-color: crimson;
}

.upper-menu-button-3-text:hover{
    background-color: crimson;
}

.upper-menu-button-4-text:hover{
    background-color: crimson;
}

.upper-menu-button-5-text:hover{
    background-color: crimson;
}

.dropped-href{
    padding: 15px;
    border-bottom: none;
    display: block;
}

.dropped-href:hover{
    background-color: crimson;
}

.upper-menu-button-1:hover .dropped-1{
    display: block;
    position: absolute;
    z-index: 1;
    background-color: white;
}

.upper-menu-button-2{
    float:left;
    margin-left: 5%;
    margin-right: 5%;
}

.upper-menu-button-2:hover .dropped-2{
    display: block;
    position: absolute;
    z-index: 1;
    background-color: white;
}

.upper-menu-button-3{
    float:left;
    margin-left: 5%;
    margin-right: 5%;
}

.upper-menu-button-4{
    float:left;
    margin-left: 5%;
    margin-right: 5%;
}

.upper-menu-button-5{
    float:left;
    margin-left: 5%;
    margin-right: 5%;
}
    
=======
 
>>>>>>> a67dc82626a8886031c824b35d8861f0733130c7
}
.Akc{
  border-width: 2px;
  border-color: rgb(254, 201, 201);
  border-style: solid;
  border-radius: 29px;
  background-color: rgb(254, 201, 201);
  width: 100px;
  height: 30px;
  margin-top: 20px;
 margin-left: 30px;
  font-size: 16px;
  font-family: "Century Gothic"; 
}
.Hit{
  border-width: 2px;
  border-color: rgb(254, 201, 201);
  border-style: solid;
  border-radius: 29px;
  background-color: rgb(254, 201, 201);
  width: 150px;
  height: 30px;
  margin-top: 20px;
  margin-left: 190px;
  font-size: 16px;
  font-family: "Century Gothic"; 
}
.city{
  border-width: 2px;
  border-color: rgb(254, 201, 201);
  border-style: solid;
  border-radius: 29px;
  background-color: rgb(254, 201, 201);
  width: 100px;
  height: 30px;
  margin-top: 20px;
  margin-right: 30px;
  font-size: 16px;
  font-family: "Century Gothic"; 
  text-align: center;
  appearance: none;

}
.Korz{
  border-width: 2px;
  border-color: rgb(254, 201, 201);
  border-style: solid;
  border-radius: 29px;
  background-color: rgb(254, 201, 201);
  width: 100px;
  height: 30px;
  margin-top: 20px;
  margin-left: 0px;
  font-size: 16px;
  font-family: "Century Gothic";
  margin-right: 30px;
}
.Block3{
  background-color: rgb(122, 204, 200);
  height: 40px;
  padding-top: 20px;
}
.Kat{
  font-size: 20px;
<<<<<<< HEAD
=======
  font-family: "Century Gothic";
>>>>>>> a67dc82626a8886031c824b35d8861f0733130c7
  margin-top: 0px;
  margin-left: 30px;
  display: block;
  float: left
}
.Block4{
    float:right;
}
.search{
    border-radius: 15px;
    height: 30px;
    border-width: 0px;
    margin-right: 0px;
}
.Nait{
    border-radius: 15px;
    height: 30px;
    width: 100px;
    border-width: 0px;
    margin-right: 30px;
    font-size: 16px;
<<<<<<< HEAD
}
.container_slider_css{
    width:100%;
    height:500px;
    overflow:hidden;
    position:relative;
    top: 5px;
}

.photo_slider_css{
    position:absolute;
    animation:round 16s infinite;
    opacity:0;
    width:100%
}
=======
  font-family: "Century Gothic";
}
.container_slider_css{
    margin:50px auto;
    width:1280px;
    height:500px;
    overflow:hidden;
    position:relative}
.photo_slider_css{
    position:absolute;
    animation:round 16s infinite;
    opacity:0;width:100%}
>>>>>>> a67dc82626a8886031c824b35d8861f0733130c7
@keyframes round {
25%{opacity:1}
40%{opacity:0}
}
img:nth-child(1){animation-delay:12s}
img:nth-child(2){animation-delay:8s}
img:nth-child(3){animation-delay:4s}
img:nth-child(4){animation-delay:0}
@media(min-width:0px) and (max-width:320px) {
.container_slider_css{
    width:80%;
    height:190px}
}
@media(min-width:321px) and (max-width:480px) {
.container_slider_css{
    width:80%;
    height:190px}
}

<<<<<<< HEAD
.add-in-purchase-list{
    margin-top:220px; 
    margin-left:160px
}

.good{
    height:250px; 
    width:250px; 
    background:green; 
    float:left;
}

.main-content{
    margin-top: 20px;
}

.total-goods-container{
    display: grid;
    
}

.goods-container{
    min-width: 1080px;
    float:left; 
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 40px;
    grid-column-gap: 40px;
}

.menu-side a{
    text-decoration: none;
    color: black;
}

.menu-side{
    float:left;
    margin-left: 20px
}


.footer{
    position:static;
    margin-top: 50px;
    background: rgb(122, 204, 200); 
    width: 100%; 
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
}

.footer a{
    color: black;
}
=======
>>>>>>> a67dc82626a8886031c824b35d8861f0733130c7


